html {
    box-sizing: border-box;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    background: #3a3937;
  }
  body {
    margin: 0;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  .panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
  }

  .panel {
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
      font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction:column;
    
  }

 

  .panel1 { background-image:url('img/boat.png'); }
  .panel2 { background-image:url('img/sunrise.png'); }
  .panel3 { background-image:url('img/marlin.png'); }
  .panel4 { background-image:url('img/snapper.png'); }
  .panel5 { background-image:url('img/sunrise.png'); }

  .panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .panel > *:first-child {transform: translateY(-100%);}
  .panel.open-active > *:first-child {transform: translateY(0);}
  .panel > *:last-child {transform: translateY(100%);}
  .panel.open-active > *:last-child {transform: translateY(0);}

  .panel p {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
  }

  .panel p:nth-child(2) {
    font-size: 4em;
  }

  .panel.open {
      flex:5;
    font-size: 40px;
  }

  .about{
      width:100%;
      height:500px;
      margin:0;
      border-top: 3px solid black;
  }

  body.loaded {
    opacity: 1;
    transition: 5s opacity;
  }

  .headline{
    position:relative;
    width:100%;
    height:500px;
    color:#fff;
    opacity:.7;
    font-family: 'Lobster', cursive;
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: ' KuaiLe', cursive;*/
    /*background-color: #4f85bb;*/
    overflow:hidden;
    backface-visibility: hidden;
  }

  .headline .background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transform: translate3d(0,0,0) scale(1.5);
    background: black url('img/ocean.jpg') no-repeat center center; 
    background-size: cover;
   
}
  
  
  .loaded .headline .background {
    transform: scale(1);
    transition: 20.5s transform;
  }

  .image-container{
      width:100%;
      height: 100%;
    
  }

  .video-container{
    top:0;
    left:0;
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
    overflow:hidden;
  }


  .video-section{
    display:flex;
    width:100%;
    height:800px;
    margin:auto;
    background:#6B0F9C;
    border-top:5px solid black;
    border-bottom:3px solid black;
  }

  .mp4{
  min-width: 100%;
    min-height:100%;
    margin:0;
  }

  .extra-section{
    width:100%;
    height:300px;
    background-color: #293f49;
   /* border-top:10px solid black;*/
  }

  .ocean{
      width:100%;
      height:100%;
     
    }
.name{
  width:100%;
  /*position:absolute;*/
  display:flex;
 /* margin-left:4rem;*/
  padding-top:2rem;
  letter-spacing: 2px;
  font-size: 3rem;
    
}  

.sub-name{
 position:absolute;
  display:flex;
    margin-left:13rem;
    margin-top: 6rem;
    font-size: 2rem;
}

.title-container{
  display:flex;
  position: absolute;
  width:100%;
}

.title{
  width:100%;
  margin-left:4rem;
  padding-top:6rem;
  font-size: 3rem;
  font-family: 'Lobster', cursive;
    
}  

.sub-title{
  position:absolute;
  display:flex;
  margin-left:13rem;
  margin-top: 10rem;
  font-size: 2rem;
  font-family: 'Lobster', cursive;
}

.btn-container{
  display:flex;
  text-align:center;
  margin-top:400px;
  z-index:1;
 
}

.btn{
  position:absolute;
	background: #34b3a0;
	color:#fff;
	font-size: .9rem !important;
	padding: .5rem 1rem !important;
  text-decoration: none;
  border-radius:10px;
  margin-left: 650px;;
  margin-right: auto;
  opacity: 0.8;
  transition: all 0.6s ease-in-out !important; 
} 

.btn:hover {
  padding: .9rem 1.5rem !important;
  color: #0c65a0;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.596);
  transition: all 0.6s ease-in-out !important;
  opacity: 0.6;

}

.navbar-brand{
  font-family: 'Lobster', cursive;
}

.name-container{
  display: flex;
 
}
.title-container{
  display: flex;
 
}

@media only screen and (max-width: 768px) and (orientation : portrait){

  .panel.panel1{
    display:none;
  }
  .panel.panel4{
    display:none;
  }
  .panel.panel5{
    display:none;
  }

  .panel p:nth-child(2) {
    font-size: 2em;
  }

  .panel.open {
    flex:5;
    font-size: 20px;
  }


  .name{
   font-size: 1.5rem;
   text-align: center !important;
   justify-content: center;
   align-content: center;

  }  

  .sub-name {
    font-size: 1rem;
    text-align:center !important;
    justify-content: center;
    align-content:center;
    align-items: center;
    margin-left:4rem;
    margin-top:80px;

  }

  .name-container{
    text-align: center !important;
    align-content: center;
    
  }

  .video-container {
    height: 350px;
  
  }

  .video-section{
    height:350px;
  }

  .video-wrapper{
    height:350px;
  }
    .title{
    font-size: 1.5rem;
    text-align: center !important;
    justify-content: center;
    align-content: center;
    margin-left:auto;
    padding-top:2rem;

    }  

  .sub-title {
    font-size: 1rem;
    text-align:center !important;
    justify-content: center;
    align-content:center;
    align-items: center;
    margin-left:5rem;
    margin-top:80px;

  }

  .title-container{
    text-align: center !important;
    align-content: center;
    
  }

  .btn{
    margin-left:160px;
    font-size: .8rem !important;
    padding: .5rem .5rem !important;
    
  }

  .btn-container{
    margin-top:280px;

  
  }


  .mp4{
  height:100%;
  }

}

@media only screen and (max-width: 742px) and (orientation : landscape){
  .panel > * {
   flex: 2 0 auto;
   
  }

  .panel {
    font-size: 10px;
    }

  .panel.open {
      font-size: 30px;
  }

  .btn{
    margin-left:290px;
  }

  .btn-container {
    margin-top: 290px;
    
  }

  .video-container {
    margin-top:0;
    height: 360px;
    
  }

  .video-section {
  height:360px;
  }

  .mp4{
    width:100%;
    
  }

  .name {
    font-size: 2.5rem;
    margin-left:2rem;
}

.sub-name {
  margin-left: 8rem;
  
}

.title {
  padding-top: 2rem;
  font-size: 2.5rem;
  
}

.sub-title {
  margin-left: 8rem;
  margin-top: 7rem;
  font-size: 2rem;
  font-family: 'Lobster', cursive;
}

}

@media only screen and (max-width: 667px) and (orientation: landscape){
  .sub-title {
    margin-left: 8rem;
    margin-top: 5rem;
    font-size: 1.5rem;
}

.title {
  padding-top: 2rem;
  font-size: 2rem;
}

.btn {
  margin-left: 260px;
}

.name {
  text-align: center;
  font-size: 2.5rem;
  margin-left: 4rem;
}

.sub-name {
  margin-left: 3.5rem;
}
}

@media only screen and (max-width: 380px) and (orientation : portrait){

  .name {
    font-size: 1.75rem;
    margin-left: auto;
  }

  .sub-name {
    font-size: 1rem;
    margin-left: auto;
    margin-top: 100px;
  }

  .btn {
  margin-left: 140px;
  }
}